<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Starting Page</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">

</head>
<body style="font-family: Quicksand, Arial, sans-serif; font-size: 0.7rem;">
    <div style="width: 400px; height: 450px; border: black 4px solid; text-align: center; margin: auto;">
        <h1>Register</h1>
        <p>First name:</p>
        <input type="text" placeholder="First Name" style="font-family: Quicksand, Arial, sans-serif;">
        <p>Last name:</p>
        <input type="text" placeholder="Last name" style="font-family: Quicksand, Arial, sans-serif;">
        <p>Email:</p>
        <input type="email" placeholder="Email" style="font-family: Quicksand, Arial, sans-serif;">
        <p>Enter your password:</p>
        <input type="password" placeholder="Password" style="font-family: Quicksand, Arial, sans-serif;">
        <p>Re-enter your password:</p>
        <input type="password" placeholder="Confirm password" style="font-family: Quicksand, Arial, sans-serif;">
        <br><br>
        <button type="submit" style="font-family: Quicksand, Arial, sans-serif;">Register</button>
        <p>If you already have an account, you can just <a href="/users/login">login</a></p>
    </div>
</body>
</html>