<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Starting Page</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
</head>
<body style="font-family: Quicksand, Arial, sans-serif;">
    <div style="width: 300px; height: 300px; border: black 4px solid; text-align: center; margin: auto;">
        <h1>Welcome to our cinema!</h1>
        <a href="/users/login"><button style="font-family: Quicksand, Arial, sans-serif;">Login</button></a>
        <a href="/users/register"><button style="font-family: Quicksand, Arial, sans-serif;">Register</button></a>
    </div>
</body>
</html>