.A {
    height: 80%;
    width: 50vw;
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;

}

.B {
    height: 80%;
    width: 40vw;
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;

}

.screen {
    width: 40%;
    height: 2vw;
    margin-top: 20px;
    background-color: rgb(31, 2, 158);
    color: white;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    vertical-align: middle;
}